<h1>Editing training</h1>

<% form_for(@training) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :exercise %><br />
    <%= f.text_field :exercise %>
  </p>
  <p>
    <%= f.label :workout %><br />
    <%= f.text_field :workout %>
  </p>
  <p>
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </p>
  <p>
    <%= f.label :finish %><br />
    <%= f.datetime_select :finish %>
  </p>
  <p>
    <%= f.label :health_frequency %><br />
    <%= f.text_field :health_frequency %>
  </p>
  <p>
    <%= f.label :distance %><br />
    <%= f.text_field :distance %>
  </p>
  <p>
    <%= f.label :effort %><br />
    <%= f.text_field :effort %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @training %> |
<%= link_to 'Back', trainings_path %>