<h1>Listing trainings</h1>

<table>
  <tr>
    <th>Exercise</th>
    <th>Workout</th>
    <th>Start</th>
    <th>Finish</th>
    <th>Health frequency</th>
    <th>Distance</th>
    <th>Effort</th>
  </tr>

<% @trainings.each do |training| %>
  <tr>
    <td><%=h training.exercise %></td>
    <td><%=h training.workout %></td>
    <td><%=h training.start %></td>
    <td><%=h training.finish %></td>
    <td><%=h training.health_frequency %></td>
    <td><%=h training.distance %></td>
    <td><%=h training.effort %></td>
    <td><%= link_to 'Show', training %></td>
    <td><%= link_to 'Edit', edit_training_path(training) %></td>
    <td><%= link_to 'Destroy', training, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New training', new_training_path %>