<div style="float:left;width:400px;margin-left:5px;">
<% form_for @training, :builder => WorkoutFormBuilder do |f| %>

  <%= hidden_field :training, :workout_id %>

    <p>
    <%= f.label :exercise_id %><br />
    <%= f.select :exercise_id, Exercise.all.collect{|p| [p.name, p.id] }, :include_blank => false %>
    <br />

    <%= hidden_field :training, :exercise_id %>

    <%= f.label :start %><br />
    <%= f.datetime_select :start %><br />
    <%= f.label :finish %><br />
    <%= f.datetime_select :finish %><br />
    </p>

    <%= f.label :health_frequency %>
    <%= f.text_field :health_frequency, :size => 3, :maxlength => 3 %>

    <%= f.label :distance %>
    <%= f.text_field :distance, :size => 3, :maxlength => 5 %>
<p>
    <%= f.label :effort %>
    <%= f.select :effort, (1..10).to_a, :include_blank => false %>
</p>
    <p>
    <input id="workout_submit" type="button" value="Registrar" />
    </p>
<% end %>
</div>
<div id="list_of_trainings" style="float:right;width:400px; height:300px;">
</div>

