<p>
  <b>Exercise:</b>
  <%=h @training.exercise %>
</p>

<p>
  <b>Workout:</b>
  <%=h @training.workout %>
</p>

<p>
  <b>Start:</b>
  <%=h @training.start %>
</p>

<p>
  <b>Finish:</b>
  <%=h @training.finish %>
</p>

<p>
  <b>Health frequency:</b>
  <%=h @training.health_frequency %>
</p>

<p>
  <b>Distance:</b>
  <%=h @training.distance %>
</p>

<p>
  <b>Effort:</b>
  <%=h @training.effort %>
</p>


<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>