<h1>Listing synonymous_of_exercises</h1>

<table>
  <tr>
    <th>Synonym</th>
    <th>User</th>
    <th>Exercise</th>
  </tr>

<% @synonymous_of_exercises.each do |synonymous_of_exercise| %>
  <tr>
    <td><%=h synonymous_of_exercise.synonym %></td>
    <td><%=h synonymous_of_exercise.user %></td>
    <td><%=h synonymous_of_exercise.exercise %></td>
    <td><%= link_to 'Show', synonymous_of_exercise %></td>
    <td><%= link_to 'Edit', edit_synonymous_of_exercise_path(synonymous_of_exercise) %></td>
    <td><%= link_to 'Destroy', synonymous_of_exercise, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New synonymous_of_exercise', new_synonymous_of_exercise_path %>