<p>
  <b>Synonym:</b>
  <%=h @synonymous_of_exercise.synonym %>
</p>

<p>
  <b>User:</b>
  <%=h @synonymous_of_exercise.user %>
</p>

<p>
  <b>Exercise:</b>
  <%=h @synonymous_of_exercise.exercise %>
</p>


<%= link_to 'Edit', edit_synonymous_of_exercise_path(@synonymous_of_exercise) %> |
<%= link_to 'Back', synonymous_of_exercises_path %>