<h1>New nokia_eventlap</h1>

<% form_for(@nokia_eventlap) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nokia_workout %><br />
    <%= f.text_field :nokia_workout %>
  </p>
  <p>
    <%= f.label :lapdistance %><br />
    <%= f.text_field :lapdistance %>
  </p>
  <p>
    <%= f.label :laptime %><br />
    <%= f.datetime_select :laptime %>
  </p>
  <p>
    <%= f.label :totaltime %><br />
    <%= f.datetime_select :totaltime %>
  </p>
  <p>
    <%= f.label :realtime %><br />
    <%= f.datetime_select :realtime %>
  </p>
  <p>
    <%= f.label :distance %><br />
    <%= f.text_field :distance %>
  </p>
  <p>
    <%= f.label :totaldistance %><br />
    <%= f.text_field :totaldistance %>
  </p>
  <p>
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </p>
  <p>
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </p>
  <p>
    <%= f.label :altitude %><br />
    <%= f.text_field :altitude %>
  </p>
  <p>
    <%= f.label :speed %><br />
    <%= f.text_field :speed %>
  </p>
  <p>
    <%= f.label :pace %><br />
    <%= f.datetime_select :pace %>
  </p>
  <p>
    <%= f.label :fixquality %><br />
    <%= f.text_field :fixquality %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', nokia_eventlaps_path %>