<p>
  <b>Nokia workout:</b>
  <%=h @nokia_eventlap.nokia_workout %>
</p>

<p>
  <b>Lapdistance:</b>
  <%=h @nokia_eventlap.lapdistance %>
</p>

<p>
  <b>Laptime:</b>
  <%=h @nokia_eventlap.laptime %>
</p>

<p>
  <b>Totaltime:</b>
  <%=h @nokia_eventlap.totaltime %>
</p>

<p>
  <b>Realtime:</b>
  <%=h @nokia_eventlap.realtime %>
</p>

<p>
  <b>Distance:</b>
  <%=h @nokia_eventlap.distance %>
</p>

<p>
  <b>Totaldistance:</b>
  <%=h @nokia_eventlap.totaldistance %>
</p>

<p>
  <b>Latitude:</b>
  <%=h @nokia_eventlap.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%=h @nokia_eventlap.longitude %>
</p>

<p>
  <b>Altitude:</b>
  <%=h @nokia_eventlap.altitude %>
</p>

<p>
  <b>Speed:</b>
  <%=h @nokia_eventlap.speed %>
</p>

<p>
  <b>Pace:</b>
  <%=h @nokia_eventlap.pace %>
</p>

<p>
  <b>Fixquality:</b>
  <%=h @nokia_eventlap.fixquality %>
</p>


<%= link_to 'Edit', edit_nokia_eventlap_path(@nokia_eventlap) %> |
<%= link_to 'Back', nokia_eventlaps_path %>