<h1>Editing nokia_workout</h1>

<% form_for(@nokia_workout) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :oid %><br />
    <%= f.text_field :oid %>
  </p>
  <p>
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </p>
  <p>
    <%= f.label :starttime %><br />
    <%= f.datetime_select :starttime %>
  </p>
  <p>
    <%= f.label :stoptime %><br />
    <%= f.datetime_select :stoptime %>
  </p>
  <p>
    <%= f.label :realtime %><br />
    <%= f.datetime_select :realtime %>
  </p>
  <p>
    <%= f.label :totaltime %><br />
    <%= f.datetime_select :totaltime %>
  </p>
  <p>
    <%= f.label :distance %><br />
    <%= f.text_field :distance %>
  </p>
  <p>
    <%= f.label :speed_average %><br />
    <%= f.text_field :speed_average %>
  </p>
  <p>
    <%= f.label :speed_max %><br />
    <%= f.text_field :speed_max %>
  </p>
  <p>
    <%= f.label :pace_average %><br />
    <%= f.datetime_select :pace_average %>
  </p>
  <p>
    <%= f.label :pace_max %><br />
    <%= f.datetime_select :pace_max %>
  </p>
  <p>
    <%= f.label :features %><br />
    <%= f.text_field :features %>
  </p>
  <p>
    <%= f.label :verticalmovement_minaltitude %><br />
    <%= f.text_field :verticalmovement_minaltitude %>
  </p>
  <p>
    <%= f.label :verticalmovement_maxaltitude %><br />
    <%= f.text_field :verticalmovement_maxaltitude %>
  </p>
  <p>
    <%= f.label :verticalmovement_ascent %><br />
    <%= f.text_field :verticalmovement_ascent %>
  </p>
  <p>
    <%= f.label :verticalmovement_descent %><br />
    <%= f.text_field :verticalmovement_descent %>
  </p>
  <p>
    <%= f.label :activity_oid %><br />
    <%= f.text_field :activity_oid %>
  </p>
  <p>
    <%= f.label :activity_name %><br />
    <%= f.text_field :activity_name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @nokia_workout %> |
<%= link_to 'Back', nokia_workouts_path %>