<p>
  <b>Oid:</b>
  <%=h @nokia_workout.oid %>
</p>

<p>
  <b>Version:</b>
  <%=h @nokia_workout.version %>
</p>

<p>
  <b>Starttime:</b>
  <%=h @nokia_workout.starttime %>
</p>

<p>
  <b>Stoptime:</b>
  <%=h @nokia_workout.stoptime %>
</p>

<p>
  <b>Realtime:</b>
  <%=h @nokia_workout.realtime %>
</p>

<p>
  <b>Totaltime:</b>
  <%=h @nokia_workout.totaltime %>
</p>

<p>
  <b>Distance:</b>
  <%=h @nokia_workout.distance %>
</p>

<p>
  <b>Speed average:</b>
  <%=h @nokia_workout.speed_average %>
</p>

<p>
  <b>Speed max:</b>
  <%=h @nokia_workout.speed_max %>
</p>

<p>
  <b>Pace average:</b>
  <%=h @nokia_workout.pace_average %>
</p>

<p>
  <b>Pace max:</b>
  <%=h @nokia_workout.pace_max %>
</p>

<p>
  <b>Features:</b>
  <%=h @nokia_workout.features %>
</p>

<p>
  <b>Verticalmovement minaltitude:</b>
  <%=h @nokia_workout.verticalmovement_minaltitude %>
</p>

<p>
  <b>Verticalmovement maxaltitude:</b>
  <%=h @nokia_workout.verticalmovement_maxaltitude %>
</p>

<p>
  <b>Verticalmovement ascent:</b>
  <%=h @nokia_workout.verticalmovement_ascent %>
</p>

<p>
  <b>Verticalmovement descent:</b>
  <%=h @nokia_workout.verticalmovement_descent %>
</p>

<p>
  <b>Activity oid:</b>
  <%=h @nokia_workout.activity_oid %>
</p>

<p>
  <b>Activity name:</b>
  <%=h @nokia_workout.activity_name %>
</p>


<%= link_to 'Edit', edit_nokia_workout_path(@nokia_workout) %> |
<%= link_to 'Back', nokia_workouts_path %>