<style>
  #conteudo .container {position: relative; margin: 0 auto;}
  #conteudo form { width: 300px }
  #conteudo form label { width: 30px; }
</style>
<div class="weight_div_form">
<% form_for @weight_goal, :builder => WorkoutFormBuilder do |f| %>
  <%= hidden_field :weight_goal, :user_id, :value => current_user.id %>
  <p>
    <%= f.label :goal %><br />
    <%= f.date_select :goal %>
  </p>
  <p>
    <%= f.label :weight %><br />
    <%= f.text_field :weight, :size => 3, :maxlength => 6 %> kg<br/>
    <span>Exemplo: 78.649</span>
  </p>
  <div id="errors"></div>
  <p>
  <input id="weight_goal_submit" type="button" value="Registrar" class="submit_right" />
  </p>
    <div class="matafloat"></div>
<% end %>
</div>
<div class="matafloat"></div>

