<p>Avatar é usado automaticamente do seu <a href="http://en.gravatar.com/">Gravatar</a></p>
<p>
<%= form.label :login %>
<%= form.text_field :login, :size => 15 %> <a href="#verify">Verificar disponibilidade</a>
</p>
<p>
<%= form.label :name %>
<%= form.text_field :name, :size => 25 %>
</p>
<p>
<%= form.label :password, form.object.new_record? ? nil : "Change password" %>
<%= form.password_field :password, :size => 20 %>
</p>
<p>
<%= form.label :password_confirmation %>
<%= form.password_field :password_confirmation, :size => 20 %><br />
</p>
<p>
<%= form.label :email %>
<%= form.text_field :email, :size => 25 %>
</p>

