
<div id="meio" class="interno">
<div class="container">

  <div id="menurapido">
    <a href="#workout">Registre seu treino</a><br/>
    <a href="#weight">Registre seu peso</a>
    <a href="#weights_graph">Acompanhe seu peso</a>
  </div> <!-- /menurapido -->

  <%=gravatar_photo %>
  <span id="miniperfil">
    <h1><span> <%=h @user.name %></span></h1>
    <br />
    <b>Altura:</b> 1,82m<br />
    <b>Peso atual: </b><span id="last_weight"><%=h @user.last_weight %></span> kg<br />
    <b>Meta de peso:</b> 75kg<br />
    <b>Massa corpórea:</b> 75kg<br />
    <br />
    <%= link_to 'Continue completando seu perfil.', edit_account_path %>
  </span>
  <div class="matafloat"></div>

</div> <!-- /container -->
</div> <!-- /meio -->

<div id="conteudo">
<div class="container">
  <h1><span>Formulário</span> de edição</h1>
  <p>E então segue o conteúdo. E então segue o conteúdo. E então segue o conteúdo.</p>

    <% form_for @user, :builder => WorkoutFormBuilder, :url => account_path do |f| %>
      <%= f.error_messages %>
      <h1>1. Dados pessoais</h1>
      <%= render :partial => "form", :object => f %>
      <%= f.submit "Atualizar", :style => "float: right" %><br />
      <div class="matafloat"></div>
    <% end %>
</div> <!-- /container -->
</div> <!-- /conteudo -->

