<div id="user_profile">

  <div id="avatar"><%=gravatar_photo %></div>
  <div id="user_info_show">
    <% if @user.openid_identifier.blank? %>
      <p>
        <b>Login:</b>
        <%=h @user.login %>
      </p>
    <% else %>
      <p>
        <b>OpenID:</b>
        <%=h @user.openid_identifier %>
      </p>
    <% end %>
    <p>
      <b>Nome:</b>
      <%=h @user.name %>
    </p>
    <p>
      <b>Peso atual:</b>
      <span id="last_weight"><%=h @user.last_weight %></span> kg
    </p>

    <%= link_to 'Continue completando seu perfil.', edit_account_path %>
  </div>

  <div class="ultimos_treinos">
    <a href="#workout">Registre seu treino</a><br/>
    <a href="#weight">Registre seu peso atual</a>
    <a href="#weights_graph">Acompanhe seu peso</a>
  </div>
  <div class="marketing">

  </div>


</div>


<div id="workout_home">
  <div id="workout_form_div"></div>
</div>
<div id="friends_home">
  <div id="bar1"></div>
</div>

