<input type="hidden" id="user_id" value="<%= @user.id if @user %>">

<div id="meio" class="interno">
<div class="container">

<% if @user == current_user %>
  <div id="menurapido">
    <a href="#program">Crie seu programa</a><br/>
    <a href="#workout">Registre seu treino</a><br/>
    <a href="#weight">Registre seu peso</a>
    <a href="#weights_graph">Acompanhe seu peso</a>
    <a href="#weight_goal">Crie sua meta de peso</a>
  </div> <!-- /menurapido -->
<% end %>

  <%=gravatar_photo %>
  <span id="miniperfil">
    <h1><span> <%=h @user.name %></span></h1>
    <br />
    <% if @user.height %>
      <b>Altura:</b><%=h @user.height.to_f/100 if @user.height %> m<br />
    <% else %>
      <% if @user == current_user %>
        <b>Altura:</b> <%= link_to 'Ainda não tem altura cadastrada.', edit_account_path %> <br />
      <% else %>
        <b>Altura:</b> Ainda não tem altura cadastrada. <br />
      <% end %>
    <% end %>
    <b>Peso atual: </b><span id="last_weight"><%=h @user.last_weight %></span> kg<br />
    <b>Meta de peso: </b><span id="last_goal_weight"> <%=h @user.last_weight_goal.weight if @user.last_weight_goal %></span> kg<br />
    <b>Massa corpórea:</b> 75kg<br />
    <br />

    <% if @user == current_user %>
      <%= link_to 'Continue completando seu perfil.', edit_account_path %>
    <% end %>
  </span>
  <div class="matafloat"></div>

</div> <!-- /container -->
</div> <!-- /meio -->

<div id="conteudo">
<div class="container">

  <div class="esq">
    <div class="quadro" style="width: 565px">
      <h1>Passagem de guarda</h1>
      <br />
      <object width="565" height="344"><param name="movie" value="http://www.youtube.com/v/FVbf9tOGwno&hl=pt_BR&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/FVbf9tOGwno&hl=pt_BR&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="565" height="344"></embed></object><br />
      <br />
      <label for="add" class="normal">Incluir vídeo</label>
      <small>Incluindo "exercicio.wmv"</small> <img src="img/carregando.gif" /><br />
      <input id="add" type="file" size="50" /><br />
      <input id="add" type="file" size="50" /><br />
      <small><a href="#">Incluir outro vídeo</a></small><br />
    </div> <!-- /quadro -->
  </div><!-- /esq -->

  <div class="dir" style="margin-top:30px;" >
    <div class="quadro" style="width: 280px">
      <h1><span>Amigos</span></h1>
      <p></p>
    </div> <!-- /quadro amegos -->
    <br />
    <div class="quadro" style="width: 280px">
      <h1><span>Nuvem de TAGs</span></h1>
      <p style="font-size: 18px"><small>Gogs</small> Gogó <big>Workout</big> Exercício Milfont <big>Ruby</big> PHP Design Gogs Gogó Workout <big>Exercício</big> Milfont Ruby <small>PHP</small> Design</p>
    </div> <!-- /quadro tags -->
    <br />
    <div class="quadro" style="width: 280px">
      <h1><span>Sinônimos</span></h1>
      <p>Como eu não faço nem ideia do que é isso aqui, vou deixar em branco. Como eu não faço nem ideia do que é isso aqui, vou deixar em branco. <br />Como eu não faço nem ideia do que é isso aqui, vou deixar em branco. Como eu não faço nem ideia do que é isso aqui, vou deixar em branco. </p>
    </div> <!-- /quadro sinonimos -->
    <br />
    <div class="quadro transparente" style="width: 280px">
      <h1><img src="img/favorito.png" style="vertical-align: middle" /> <a href="#">Favorito</a></h1>
    </div> <!-- /quadro favorito -->
  </div><!-- /dir -->

  <div class="matafloat"></div>

</div> <!-- /container -->
</div> <!-- /conteudo -->

