<div id="user_profile">

  <div id="avatar"><%=gravatar_photo %></div>
  <div id="user_info_show">
    <% if @user.openid_identifier.blank? %>
      <p>
        <b>Login:</b>
        <%=h @user.login %>
      </p>
    <% else %>
      <p>
        <b>OpenID:</b>
        <%=h @user.openid_identifier %>
      </p>
    <% end %>
    <p>
      <b>Email:</b>
      <%=h @user.email %>
    </p>
    <p>
      <b>Nome:</b>
      <%=h @user.name %>
    </p>
    <%= link_to 'Continue completando seu perfil.', edit_account_path %>
  </div>

  <div class="ultimos_treinos">teste</div>
  <div class="ultimos_treinos">teste</div>
  <div class="ultimos_treinos">Teste</div>

</div>


<div id="workout_home"> Treinos</div>
<div id="friends_home"> Amigos</div>

