<style>
  #conteudo .container {position: relative; margin: 0 auto;}
  #conteudo form { width: 120px }
  #conteudo form label { width: 30px; }
</style>
<div class="weight_div_form">
<% form_for @weight, :builder => WorkoutFormBuilder do |f| %>
  <%= hidden_field :weight, :user_id, :value => current_user.id %>
  <p>
    <%= f.label :weight %>
    <%= f.text_field :weight, :size => 3, :maxlength => 6 %> kg<br/>
    <span>Exemplo: 78.649</span>
  </p>
  <div id="errors"></div>
  <p>
  <input id="weight_submit" type="button" value="Registrar" class="submit_right" />
  </p>
    <div class="matafloat"></div>
<% end %>
</div>
<div id="list_of_weights">
<h1><span>Últimos</span> 10 registros de seu peso</h1>
  <table>
    <tr>
      <th>Peso</th>
      <th>Data</th>
    </tr>

  <% Weight.find(:all, :conditions => { :user_id => current_user.id }, :order => "created_at DESC", :limit => 10).to_enum.with_index{|weight, index|
  %>
    <tr class="<%= index.odd? ? 'zebra-blue' : 'zebra-white' %>">
      <td><%= format_weight(weight.weight) %> </td>
      <td><%=  weight.created_at.strftime("%m/%d/%Y %H:%M") %> </td>
    </tr>
  <%
}
 %>


  </table>
</div>
<div class="matafloat"></div>

