<div style="float:left;width:400px;margin-left:5px;">
<% form_for @weight, :builder => WorkoutFormBuilder do |f| %>
  <%= hidden_field :weight, :user_id, :value => current_user.id %>
  <p>
    <%= f.label :weight %>
    <%= f.text_field :weight, :size => 3, :maxlength => 6 %> kg
    <span>Ex.: 78.649</span>
  </p>
  <div id="errors"></div>
  <p>
  <input id="weight_submit" type="button" value="Registrar" />
  </p>
<% end %>
</div>
<div id="list_of_weights">
  <table>
    <caption>Últimos 10 registros</caption>
    <tr>
      <th>Peso</th>
      <th>Data</th>
    </tr>

  <% Weight.find(:all, :conditions => { :user_id => current_user.id }, :order => "created_at DESC", :limit => 10).each{|weight|
  %>
    <tr>
      <td class='peso'><%= format_weight(weight.weight) %> </td>
      <td><%=  weight.created_at.strftime("%m/%d/%Y %H:%M") %> </td>
    </tr>
  <%
}
 %>


  </table>
</div>

