<h1>Listing comments_of_exercises</h1>

<table>
  <tr>
    <th>Comment</th>
    <th>User</th>
    <th>Exercise</th>
  </tr>

<% @comments_of_exercises.each do |comments_of_exercise| %>
  <tr>
    <td><%=h comments_of_exercise.comment %></td>
    <td><%=h comments_of_exercise.user %></td>
    <td><%=h comments_of_exercise.exercise %></td>
    <td><%= link_to 'Show', comments_of_exercise %></td>
    <td><%= link_to 'Edit', edit_comments_of_exercise_path(comments_of_exercise) %></td>
    <td><%= link_to 'Destroy', comments_of_exercise, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New comments_of_exercise', new_comments_of_exercise_path %>