<p>
  <b>Comment:</b>
  <%=h @comments_of_exercise.comment %>
</p>

<p>
  <b>User:</b>
  <%=h @comments_of_exercise.user %>
</p>

<p>
  <b>Exercise:</b>
  <%=h @comments_of_exercise.exercise %>
</p>


<%= link_to 'Edit', edit_comments_of_exercise_path(@comments_of_exercise) %> |
<%= link_to 'Back', comments_of_exercises_path %>