<h1>Listing types_of_exercises</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @types_of_exercises.each do |types_of_exercise| %>
  <tr>
    <td><%=h types_of_exercise.name %></td>
    <td><%= link_to 'Show', types_of_exercise %></td>
    <td><%= link_to 'Edit', edit_types_of_exercise_path(types_of_exercise) %></td>
    <td><%= link_to 'Destroy', types_of_exercise, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New types_of_exercise', new_types_of_exercise_path %>