<h1>Editing videos_of_exercise</h1>

<% form_for(@videos_of_exercise) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.label :exercise %><br />
    <%= f.text_field :exercise %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @videos_of_exercise %> |
<%= link_to 'Back', videos_of_exercises_path %>