<h1>Listing videos_of_exercises</h1>

<table>
  <tr>
    <th>Url</th>
    <th>User</th>
    <th>Exercise</th>
  </tr>

<% @videos_of_exercises.each do |videos_of_exercise| %>
  <tr>
    <td><%=h videos_of_exercise.url %></td>
    <td><%=h videos_of_exercise.user %></td>
    <td><%=h videos_of_exercise.exercise %></td>
    <td><%= link_to 'Show', videos_of_exercise %></td>
    <td><%= link_to 'Edit', edit_videos_of_exercise_path(videos_of_exercise) %></td>
    <td><%= link_to 'Destroy', videos_of_exercise, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New videos_of_exercise', new_videos_of_exercise_path %>