<p>
  <b>Url:</b>
  <%=h @videos_of_exercise.url %>
</p>

<p>
  <b>User:</b>
  <%=h @videos_of_exercise.user %>
</p>

<p>
  <b>Exercise:</b>
  <%=h @videos_of_exercise.exercise %>
</p>


<%= link_to 'Edit', edit_videos_of_exercise_path(@videos_of_exercise) %> |
<%= link_to 'Back', videos_of_exercises_path %>