<h1>New exercise</h1>

<% form_for(@exercise) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :types_of_exercise %><br />
    <%= f.select :types_of_exercise_id, TypesOfExercise.all.collect {|p| [p.name, p.id]}, :include_blank => false %>

  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', exercises_path %>

