<div id="login">
  <div id="login_interno">
    <% form_for @user_session, :builder => WorkoutFormBuilder, :url => user_session_path do |f| %>
      <h2>Entrar</h2>
      <%= f.error_messages %>
      <div id="login_container">
        <%= f.label :login %><br />
        <%= f.text_field :login %><br />
        <br />
        <%= f.label :password %><br />
        <%= f.password_field :password %><br />
      </div>
      <br />
      <%= f.check_box :remember_me %><%= f.label :remember_me %><br />
      <br />
      <%= f.submit "Login" %>
    <% end %>
  </div>
</div>

