<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>

  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag 'date-functions' %>
  <%= javascript_include_tag 'excanvas.min' %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'jquery.flot.min' %>
  <%= javascript_include_tag 'jquery.flot.threshold.min' %>
  <%= javascript_include_tag 'jquery.flot.crosshair.min' %>
  <%= javascript_include_tag 'jgcharts' %>
  <%= javascript_include_tag 'jquery.qtip-1.0.0-rc3.min' %>
  <%= javascript_include_tag 'jquery.flash' %>
  <%= javascript_include_tag 'exercise' %>
  <%= javascript_include_tag 'workout' %>

<!--
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" language="javascript" type="text/javascript"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/jquery-ui.min.js" language="javascript" type="text/javascript"></script>
-->

</head>
<body>

<% if current_page? root_path %>
<div id="topo">
<% else %>
<div id="topo" class="interno">
<% end %>

<div class="container">

  <% if current_page? root_path %>
  <img src="/images/logo.gif" alt="TREENING" border="0" style="margin-top: 15px" />
  <% else %>
  <img src="/images/logoPeq.gif" alt="TREENING" border="0" style="margin-top: 15px" />
  <% end %>


  <% if current_page? root_path %>
  <ul id="menu">
  <% else %>
  <ul id="menu" class="interno">
  <% end %>

    <li><%= link_to_unless_current('Início', root_path) { link_to 'Início', root_path, :class => 'ativo' } %></li>
    <li><%= link_to_unless_current('Vídeos', exercises_path) { link_to 'Vídeos', root_path, :class => 'ativo' } %></li>
   <% if current_user %>
    <li><%= link_to_unless_current('Perfil', account_path, {:class => current_page?(edit_account_path) ? "ativo" : "" } ) { link_to 'Perfil', account_path, :class => 'ativo' } %></li>
    <li><%= link_to "Sair", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %></li>
    <% else %>

    <li><%= link_to_unless_current('Registrar', new_account_path) { link_to 'Registrar', new_account_path, :class => 'ativo' } %></li>
    <li><%= link_to_unless_current('Login', new_user_session_path) { link_to 'Login', new_user_session_path, :class => 'ativo' } %></li>
    <% end %>
  </ul> <!-- /menu -->
</div> <!-- /container -->
</div> <!-- /topo -->

