<p>
  <b>Name:</b>
  <%=h @tags_of_exercise.name %>
</p>

<p>
  <b>User:</b>
  <%=h @tags_of_exercise.user %>
</p>

<p>
  <b>Exercise:</b>
  <%=h @tags_of_exercise.exercise %>
</p>


<%= link_to 'Edit', edit_tags_of_exercise_path(@tags_of_exercise) %> |
<%= link_to 'Back', tags_of_exercises_path %>